// .cs_hero_container_ml_p150{
//   margin-left: 150px;
// }
.cs_hero.cs_style1 {
  height: 936px;
  padding: 150px 0 230px;
  .cs_hero_subtitle {
    background: #121b42;
    border-radius: 100px;
    padding: 5px 20px;
  }
}
