.cs_newsletter.cs_style1{
  input{
    width: 100%;
    border: 1px solid $accent;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    color: $white;
  }
}