/*--------------------------------------------------------------
2. Spacing
----------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .cs_height_p0 {
    height: 0px;
  }

  .cs_height_p5 {
    height: 5px;
  }

  .cs_height_p10 {
    height: 10px;
  }

  .cs_height_p15 {
    height: 15px;
  }

  .cs_height_p20 {
    height: 20px;
  }

  .cs_height_p25 {
    height: 25px;
  }

  .cs_height_p30 {
    height: 30px;
  }

  .cs_height_p35 {
    height: 35px;
  }

  .cs_height_p40 {
    height: 40px;
  }

  .cs_height_p45 {
    height: 45px;
  }

  .cs_height_p50 {
    height: 50px;
  }

  .cs_height_p55 {
    height: 55px;
  }

  .cs_height_p60 {
    height: 60px;
  }

  .cs_height_p65 {
    height: 65px;
  }

  .cs_height_p70 {
    height: 70px;
  }

  .cs_height_p75 {
    height: 75px;
  }

  .cs_height_p80 {
    height: 80px;
  }

  .cs_height_p85 {
    height: 85px;
  }

  .cs_height_p90 {
    height: 90px;
  }

  .cs_height_p95 {
    height: 95px;
  }

  .cs_height_p100 {
    height: 100px;
  }

  .cs_height_p105 {
    height: 105px;
  }

  .cs_height_p110 {
    height: 110px;
  }

  .cs_height_p115 {
    height: 115px;
  }

  .cs_height_p120 {
    height: 120px;
  }

  .cs_height_p125 {
    height: 125px;
  }

  .cs_height_p130 {
    height: 130px;
  }

  .cs_height_p135 {
    height: 135px;
  }

  .cs_height_p140 {
    height: 140px;
  }

  .cs_height_p145 {
    height: 145px;
  }

  .cs_height_p150 {
    height: 150px;
  }

  .cs_height_p155 {
    height: 155px;
  }

  .cs_height_p160 {
    height: 160px;
  }

  .cs_height_p165 {
    height: 165px;
  }

  .cs_height_p170 {
    height: 170px;
  }

  .cs_height_p175 {
    height: 175px;
  }

  .cs_height_p180 {
    height: 180px;
  }

  .cs_height_p185 {
    height: 185px;
  }

  .cs_height_p190 {
    height: 190px;
  }

  .cs_height_p195 {
    height: 195px;
  }

  .cs_height_p200 {
    height: 200px;
  }

  .cs_height_p205 {
    height: 205px;
  }

  .cs_height_p210 {
    height: 210px;
  }
}

@media screen and (max-width: 991px) {
  .cs_height_lg_p0 {
    height: 0px;
  }

  .cs_height_lg_p5 {
    height: 5px;
  }

  .cs_height_lg_p10 {
    height: 10px;
  }

  .cs_height_lg_p15 {
    height: 15px;
  }

  .cs_height_lg_p20 {
    height: 20px;
  }

  .cs_height_lg_p25 {
    height: 25px;
  }

  .cs_height_lg_p30 {
    height: 30px;
  }

  .cs_height_lg_p35 {
    height: 35px;
  }

  .cs_height_lg_p40 {
    height: 40px;
  }

  .cs_height_lg_p45 {
    height: 45px;
  }

  .cs_height_lg_p50 {
    height: 50px;
  }

  .cs_height_lg_p55 {
    height: 55px;
  }

  .cs_height_lg_p60 {
    height: 60px;
  }

  .cs_height_lg_p65 {
    height: 65px;
  }

  .cs_height_lg_p70 {
    height: 70px;
  }

  .cs_height_lg_p75 {
    height: 75px;
  }

  .cs_height_lg_p80 {
    height: 80px;
  }

  .cs_height_lg_p85 {
    height: 85px;
  }

  .cs_height_lg_p90 {
    height: 90px;
  }

  .cs_height_lg_p95 {
    height: 95px;
  }

  .cs_height_lg_p100 {
    height: 100px;
  }

  .cs_height_lg_p105 {
    height: 105px;
  }

  .cs_height_lg_p110 {
    height: 110px;
  }

  .cs_height_lg_p115 {
    height: 115px;
  }

  .cs_height_lg_p120 {
    height: 120px;
  }

  .cs_height_lg_p125 {
    height: 125px;
  }

  .cs_height_lg_p130 {
    height: 130px;
  }

  .cs_height_lg_p135 {
    height: 135px;
  }

  .cs_height_lg_p140 {
    height: 140px;
  }

  .cs_height_lg_p145 {
    height: 145px;
  }

  .cs_height_lg_p150 {
    height: 150px;
  }

  .cs_height_lg_p155 {
    height: 155px;
  }

  .cs_height_lg_p160 {
    height: 160px;
  }

  .cs_height_lg_p165 {
    height: 165px;
  }

  .cs_height_lg_p170 {
    height: 170px;
  }

  .cs_height_lg_p175 {
    height: 175px;
  }

  .cs_height_lg_p180 {
    height: 180px;
  }

  .cs_height_lg_p185 {
    height: 185px;
  }

  .cs_height_lg_p190 {
    height: 190px;
  }

  .cs_height_lg_p195 {
    height: 195px;
  }

  .cs_height_lg_p200 {
    height: 200px;
  }

  .cs_height_lg_p205 {
    height: 205px;
  }

  .cs_height_lg_p210 {
    height: 210px;
  }
}

/*-------Margin---------*/
@media screen and (min-width: 992px) {
  /*---margin top---*/
  .cs_mt_p0 {
    margin-top: 0px;
  }

  .cs_mt_p5 {
    margin-top: 5px;
  }

  .cs_mt_p10 {
    margin-top: 10px;
  }

  .cs_mt_p15 {
    margin-top: 15px;
  }

  .cs_mt_p20 {
    margin-top: 20px;
  }

  .cs_mt_p25 {
    margin-top: 25px;
  }

  .cs_mt_p30 {
    margin-top: 30px;
  }

  .cs_mt_p35 {
    margin-top: 35px;
  }

  .cs_mt_p40 {
    margin-top: 40px;
  }

  .cs_mt_p45 {
    margin-top: 45px;
  }

  .cs_mt_p50 {
    margin-top: 50px;
  }

  /*---margin bottom---*/
  .cs_mb_p0 {
    margin-bottom: 0px;
  }

  .cs_mb_p5 {
    margin-bottom: 5px;
  }

  .cs_mb_p10 {
    margin-bottom: 10px;
  }

  .cs_mb_p15 {
    margin-bottom: 15px;
  }

  .cs_mb_p20 {
    margin-bottom: 20px;
  }

  .cs_mb_p25 {
    margin-bottom: 25px;
  }

  .cs_mb_p30 {
    margin-bottom: 30px;
  }

  .cs_mb_p35 {
    margin-bottom: 35px;
  }

  .cs_mb_p40 {
    margin-bottom: 40px;
  }

  .cs_mb_p45 {
    margin-bottom: 45px;
  }

  .cs_mb_p50 {
    margin-bottom: 50px;
  }

  /*---margin left---*/
  .cs_ml_p0 {
    margin-left: 0px;
  }

  .cs_ml_p5 {
    margin-left: 5px;
  }

  .cs_ml_p10 {
    margin-left: 10px;
  }

  .cs_ml_p15 {
    margin-left: 15px;
  }

  .cs_ml_p20 {
    margin-left: 20px;
  }

  .cs_ml_p25 {
    margin-left: 25px;
  }

  .cs_ml_p30 {
    margin-left: 30px;
  }

  .cs_ml_p35 {
    margin-left: 35px;
  }

  .cs_ml_p40 {
    margin-left: 40px;
  }

  .cs_ml_p45 {
    margin-left: 45px;
  }

  .cs_ml_p50 {
    margin-left: 50px;
  }

  /*---margin right---*/
  .cs_mr_p0 {
    margin-right: 0px;
  }

  .cs_mr_p5 {
    margin-right: 5px;
  }

  .cs_mr_p10 {
    margin-right: 10px;
  }

  .cs_mr_p15 {
    margin-right: 15px;
  }

  .cs_mr_p20 {
    margin-right: 20px;
  }

  .cs_mr_p25 {
    margin-right: 25px;
  }

  .cs_mr_p30 {
    margin-right: 30px;
  }

  .cs_mr_p35 {
    margin-right: 35px;
  }

  .cs_mr_p40 {
    margin-right: 40px;
  }

  .cs_mr_p45 {
    margin-right: 45px;
  }

  .cs_mr_p50 {
    margin-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  /*---margin top---*/
  .cs_mt_lg_p0 {
    margin-top: 0px;
  }

  .cs_mt_lg_p5 {
    margin-top: 5px;
  }

  .cs_mt_lg_p10 {
    margin-top: 10px;
  }

  .cs_mt_lg_p15 {
    margin-top: 15px;
  }

  .cs_mt_lg_p20 {
    margin-top: 20px;
  }

  .cs_mt_lg_p25 {
    margin-top: 25px;
  }

  .cs_mt_lg_p30 {
    margin-top: 30px;
  }

  .cs_mt_lg_p35 {
    margin-top: 35px;
  }

  .cs_mt_lg_p40 {
    margin-top: 40px;
  }

  .cs_mt_lg_p45 {
    margin-top: 45px;
  }

  .cs_mt_lg_p50 {
    margin-top: 50px;
  }

  /*---margin bottom---*/
  .cs_mb_lg_p0 {
    margin-bottom: 0px;
  }

  .cs_mb_lg_p5 {
    margin-bottom: 5px;
  }

  .cs_mb_lg_p10 {
    margin-bottom: 10px;
  }

  .cs_mb_lg_p15 {
    margin-bottom: 15px;
  }

  .cs_mb_lg_p20 {
    margin-bottom: 20px;
  }

  .cs_mb_lg_p25 {
    margin-bottom: 25px;
  }

  .cs_mb_lg_p30 {
    margin-bottom: 30px;
  }

  .cs_mb_lg_p35 {
    margin-bottom: 35px;
  }

  .cs_mb_lg_p40 {
    margin-bottom: 40px;
  }

  .cs_mb_lg_p45 {
    margin-bottom: 45px;
  }

  .cs_mb_lg_p50 {
    margin-bottom: 50px;
  }

  /*---margin left---*/
  .cs_ml_lg_p0 {
    margin-left: 0px;
  }

  .cs_ml_lg_p5 {
    margin-left: 5px;
  }

  .cs_ml_lg_p10 {
    margin-left: 10px;
  }

  .cs_ml_lg_p15 {
    margin-left: 15px;
  }

  .cs_ml_lg_p20 {
    margin-left: 20px;
  }

  .cs_ml_lg_p25 {
    margin-left: 25px;
  }

  .cs_ml_lg_p30 {
    margin-left: 30px;
  }

  .cs_ml_lg_p35 {
    margin-left: 35px;
  }

  .cs_ml_lg_p40 {
    margin-left: 40px;
  }

  .cs_ml_lg_p45 {
    margin-left: 45px;
  }

  .cs_ml_lg_p50 {
    margin-left: 50px;
  }

  /*---margin right---*/
  .cs_mr_lg_p0 {
    margin-right: 0px;
  }

  .cs_mr_lg_p5 {
    margin-right: 5px;
  }

  .cs_mr_lg_p10 {
    margin-right: 10px;
  }

  .cs_mr_lg_p15 {
    margin-right: 15px;
  }

  .cs_mr_lg_p20 {
    margin-right: 20px;
  }

  .cs_mr_lg_p25 {
    margin-right: 25px;
  }

  .cs_mr_lg_p30 {
    margin-right: 30px;
  }

  .cs_mr_lg_p35 {
    margin-right: 35px;
  }

  .cs_mr_lg_p40 {
    margin-right: 40px;
  }

  .cs_mr_lg_p45 {
    margin-right: 45px;
  }

  .cs_mr_lg_p50 {
    margin-right: 50px;
  }
}
